$palleteDarkPrimary: #7209B7;
$palleteLightPrimary50: rgba(114, 9, 183, .5);

$neutralBlack100: #353535;
$neutralBlack75: #676767;
$neutralBlack50: #9B9B9B;
$neutralBlack25: #CDCDCD;
$neutralWhite: #FFFFFF;

$backgroundWhite98: #FAFAFA;
$backgroundWhite97: #F7F7F8;