*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.app{
    display: flex;
    max-width: 1525px;
    margin: .3rem auto;
}

@import './variables';
@import './editor';
@import './project';
@import './modal'
